<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="!prod">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- MCP相关日志 -->
    <logger name="io.modelcontextprotocol" level="DEBUG"/>
    <logger name="com.github.stantonk" level="INFO"/>
</configuration>